<h1>Add Mall</h1>

<form method="POST" action="/mall/add" enctype="multipart/form-data">

    <div class="mb-3">
        <label class="form-label"> Name of Mall </label>
        <input type="text" name="nameOfMall" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label"> About the Mall </label>
        <textarea name="aboutOfMall" class="form-control" ></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Rating</label>
        <select name="rating" class="form-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Location</label>
        <input type="String" name="location" class="form-control"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Opening Hours</label>
        <input type="String" name="openingHour" class="form-control"/>
    </div>

    <div class="mb-3">
        <label class="form-label">Contact Information</label>
        <input type="String" name="PhoneNumber" class="form-control"/>
    </div>

    <div>
        <label for="thumbnail" class="form-control">Thumbnal picture of the mall</label>
        <input type="file" class="form-control" id="image" name="thumbnail" accept="image/png, image/jpeg"/>    
        <label for="mallImages" class="form-control">Images of the mall</label>
        <input type="file" class="form-control" id="images" name="mallImages" accept="image/png, image/jpeg" multiple/>
    </div>

    <div>
        <button type="submit">Create Mall</button>
    </div>
</form>