<h1>Add Mall</h1>

<form method="POST" action="/mall/add" >

    <div>
        <label> Name of Mall </label>
        <input type="text" name="nameOfMall" />
    </div>

    <div>
        <label> Email Address </label>
        <input type="email" name="emailAddress"/>
    </div>
    <div>
        <label>Phone Number</label>
        <input type="text" name="phoneNumber"/>
    </div>

    <div>
        <button type="submit">Create Mall</button>
    </div>
</form>