<h1>Add Mall</h1>

<form method="POST" action="/mall/add" enctype="multipart/form-data">

    <div class="mb-3">
        <label class="form-label"> Name of Mall </label>
        <input type="text" name="nameOfMall" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label"> About the Mall </label>
        <textarea name="aboutOfMall" class="form-control" ></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Location</label>
        <input type="String" name="location" class="form-control"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Opening Hours</label>
        <input type="String" name="openingHour" class="form-control"/>
    </div>

    <div class="mb-3">
        <label class="form-label">Contact Information</label>
        <input type="String" name="PhoneNumber" class="form-control"/>
    </div>

    <div class="mb-3">
        <label for="thumbnail" class="form-label">Thumbnail picture of the mall</label>
        <input type="file" class="form-control" name="thumbnail" accept="image/png, image/jpeg"/>
    </div>

    <div class="mb-3">      
        <label for="mallImages" class="form-label">Images of the mall</label>
        <input type="file" class="form-control" name="mallImages" accept="image/png, image/jpeg" multiple/>
    </div>

    <div class="mb-3">

        <input class="btn btn-primary mt-2" type="submit" value="Add new Mall"/>
    </div>
</form>