<h1>Add Review</h1>

<form method="POST" action="/review/add" >
<div class="mb-3">
    <label class="form-label">Shop</label>
    <select name="shop" class="form-control">
        <% shops.forEach(function (shop) { %>
          <option value="<%= shop._id %>" <% if (shop._id === shopId) { %>selected<% } %>>
            <%= shop.name %>
        </option>
        <% }) %>
    </select>
  </div>    
     
     <div class="mb-3">
      <label class="form-label">Rating</label>  
      <div class="rating">
        <label for="star1" ></label>
        <input type="radio" id="star1" name="rating" class="starBtn" value="1" />
        <label for="star2"></label>
        <input type="radio" id="star2" name="rating" class="starBtn" value="2" />
        <label for="star3"></label>
        <input type="radio" id="star3" name="rating" class="starBtn" value="3" />
        <label for="star4"></label>
        <input type="radio" id="star4" name="rating" class="starBtn" value="4" />
        <label for="star5"></label>
        <input type="radio" id="star5" name="rating" class="starBtn" value="5" />
      </div>
      <div><p id="selectedStar"></p></div>
     
      

    <div class="mb-3">
        <label class="form-label">Comment</label>
       
        <textarea name="comment" class="form-control" ></textarea>
    </div>
   
    <div class="mb-3">
      <input type="hidden" name="user" value="<%=user._id%>">
    </div>

    <input type="hidden" name="shopId" value="<%= shopId %>">
    
    <div class="mb-3">
      <input class="btn btn-primary mt-2" type="submit" value="Create Review"/>
      </div>
</form>