<h2 class="mb-3">
    The Shopper Review: <%= review.shop.name %>
</h2>

<div class="mb-3">
    <label class="form-label">User name: </label>  

    <span> <%= review.user.name %></span>

<div class="mb-3">
    <label class="form-label">Rating</label>  
    
    <div class="mb-3">
        <small><%=review.rating%> stars</small>
        <% for(let i = 1; i <= 5; i++) {%>
            <% if(i <= review.rating) { %>
                <i class="bi bi-star-fill"></i>
            <%} else{%>
                <i class="bi bi-star"></i>
            <%}%>
        <%}%>
    </div>

    

<div class="mb-3">
    <label class="form-label">Comment:</label>  
    <div class="mb-3">
        <%= review.comment %>
    </div>
     
</div>


