:root{
    --default:#121213;
    --wrong:#C8B8DB;
    --right:#3E6990;
}

body{
    padding: 20px;
}

footer.navbar.fixed-bottom.bg-body-tertiary{
    color: var(--default);
    padding: 20px ;
    padding-bottom: 3px ;
    background-color: var(--wrong);
    font-size: 12px;
    letter-spacing: 0.1em;
}

.footer{
margin: 10px;
font-size: 15px;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary{
    background-color: var(--wrong);
   
}

.navbar-brand{
    color: var(--default);
}

.nav-link{
   color: var(--default);
}

.card {
    min-height: 300px;
}

.card-text {
    height: 150px;
}

.col-sm-10{
    display:flex;
}

/* ////// */

.carousel-inner{
    position: relative;  
}

.carousel-item, .carousel-item active{
 /* display: block; */
 min-height: 100%;
 object-fit: cover;
 
}

.imageCara {
    object-fit:cover;
    width: 100%;
    height: 750px;
}

.thisIsTextOverImage{
    position:absolute;
    top: 350px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: Rubik;
    font-size: 100px;
}

.carousel-inner:hover .thisIsTextOverImage{
    opacity: 1;
}


