:root{
    --default:#121213;
    --light:#f8f9fa;
    --wrong:#C8B8DB;
    --right:#3E6990;
}

body{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* footer.navbar.fixed-bottom.bg-body-tertiary{
    color: var(--default);
    padding: 20px ;
    padding-bottom: 3px ;
    background-color: var(--wrong);
    font-size: 12px;
    letter-spacing: 0.1em;
}

.footer{
margin: 10px;
font-size: 15px;
} */

nav.navbar.navbar-expand-lg.bg-body-tertiary{
    background-color: var(--wrong);
   
}

.navbar-brand{
    color: var(--default);
    
}

.nav-link{
   color: var(--default);
}

.card {
    height: 95%;
    width: 100%;
  
}

.card-text {
    /* height: 10px; */
}

.custom-card {
  margin-bottom: 20px;
}

/* .col-sm-10{
    display:flex;
} */
/* 
.rating-stars {
    display: flex;
    justify-content: flex-start;
  }
  
  .full-star {
    color: gold;
    font-size: 30px;
    margin-right: 5px;
    cursor: pointer;
  } */
  .rating {
    display: flex;
  }
  
  .rating input[type="radio"] {
    display: none;
  }
  
  .rating label {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 24px;
    color: #FFD700;
    cursor: pointer;
  }
  
  .rating label:before {
    content: "\f005";
  }
  
  .rating input[type="radio"]:checked ~ label:before {
    color: #FFD700;
  }
  
  .rating input[type="radio"]:hover ~ label:before {
    color: rgb(124, 115, 115);
  }
  .rating input[type="radio"]:checked ~ label {
    color: #FFD700;
  }
  /* .rating label:hover:before {
    color: rgb(124, 115, 115);
  } */