<div class="mb-3">
    <div class="mb-3">
      
      <h3 class="mb-3">User name: <%= user.name %></h3>
      <div class="mb-3">Email Address: <%= user.email %></div>
      <div class="mb-3" >User Type: <%= user.userType  %></div>
      <div class="mb-3" >Is User Admin ? <%= user.isAdmin  %></div>
    </div>
  
  </div>