<h1>Edit User</h1>

<form method="POST" action="/user/edit">

  
<br>
    <div class="mb-3">
        <label class="form-label"> User </label>
        <input type="text" name="name" value="<%=user.name %> " class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label"> Email Address </label>
        <input type="email" name="email" value="<%=user.email %>" class="form-control">
    </div>
  
   
    
    <div class="mb-3">
        <label class="form-label">User Type</label>
        <input type="text" name="userType" value="<%=user.userType %>" class="form-control" readonly>
        <!-- <select name="userType" class="form-control">

            <option value="user">user</option>
        </select> -->
    </div>
    <div class="mb-3">
        <label class="form-label" >Is User Admin?</label>
        <select name="isAdmin" class="form-control">
            <option value=true>True</option>
            <option value=false>False</option>
        </select>
    </div>
<div class="mb-3">
    <input type="hidden" name="id" value="<%=user._id%>" class="form-control"/>
</div>
  

    <div class="mb-3">
        <button class="btn btn-primary">Update User</button>
    </div>

</form>