<div class="container my-5">
    <div class="row">
        <div class="col col-md-8 mx-auto">
            <form action="" method="POST">
                <div class="input-group d-flex justify-content-center">
                    <div class="form-outline" data-mdb-input-init>
                      <input type="search" name="searchTerm" placeholder="Search for shop" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
                      <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Shop Name</th>
            <th scope="col">Mall</th>
            <th scope="col">Rating</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
          
          <% if(shops) {%>
            <%shops.forEach((shop) => {%>
                <tr>
                    <th scope="row"><%=shop.name%></th>
                    <td><%=shop.mall.nameOfMall%></td>
                    <td>
                        <% for(let i = 1; i <= 5; i++) {%>
                            <% if(i <= shop.rating) { %>
                                <i class="bi bi-star-fill"></i>
                            <%} else{%>
                                <i class="bi bi-star"></i>
                            <%}%>
                        <%}%>  
                    </td>
                    <td><a href="/shop/detail?id=<%=shop._id%>">Visit shop</a></td>
                </tr>
                <%})%>
                <%}%>
            </tbody>
            </table>
</div>