<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="/images/2-4.jpg" class="imageCara" alt="Avenues-Exterior">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/images/avenues-1.jpg" class="imageCara" alt="Avenues-Interior">
          </div>
          <div class="carousel-item">
            <img src="/images/bahrain-city-centre-outside.jpg" class="imageCara" alt="bahrain-city-centre-exterior">
          </div>

          <div class="carousel-item">
            <img src="/images/City_Centre_Bahrain_Interior.jpg" class="imageCara" alt="bahrain-city-centre-interior">
          </div>
       
          <div class="carousel-item">
            <img src="/public/images/outside-moda-mall.jpg" class="imageCara" alt="Moda-Mall-Exterior">
          </div>

          <div class="carousel-item">
            <img src="/images/inside-moda-mall.jpg" class="imageCara" alt="Moda-Mall-Interior">
          </div>

          <div class="carousel-item">
            <img src="/images/seef-manama-outside.jpg" class="imageCara" alt="Seef-Mall-Exterior">
          </div>

          <div class="carousel-item">
            <img src="/images/seef-mall-inside.jpg" class="imageCara" alt="Seef-Mall-Interior">
          </div>

          <div class="carousel-item">
            <img src="/images/seef-muhurraq-outside.jpg" class="imageCara" alt="Seef-Mall-Muharraq-Exterior">
          </div>

          <div class="carousel-item">
            <img src="/images/seef-manama-outside.jpg" class="imageCara" alt="Seef-Mall-Exterior">
          </div>

          <div class="carousel-item">
            <img src="/images/Seef-Mall-Muharraq-inside.jpg" class="imageCara" alt="Seef-Mall-Interior">
          </div>


        <div class="thisIsTextOverImage">
            <h4>Trying to find out where to shop? 
                you've come to the right place
            Welcome to Shopper Review App </h4>

            <!-- <button>Explore</button> -->
        </div>

        </div>
     
     

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

<br>
  </body>
</html>
