<form action="/shop/add" method="POST">
    <label for="name" class="form-control">Shop Name</label>
    <input type="text" name="name" class="form-control">
    <div>
        <label>Mall</label>
        <select name="mall" class="form-control">
            <% malls.forEach(function (mall) { %>
                <option value="<%= mall._id %>"><%= mall.nameOfMall %></option>
            <% }) %>
        </select>
    </div>
    <label for="category" class="form-control">Category</label>
    <input type="text" name="category" class="form-control">
    <label for="location" class="form-control">Location</label>
    <input type="text" name="location" class="form-control">
    <label for="description" class="form-control">Description</label>
    <textarea type="text" name="description" class="form-control"></textarea>
    <label for="workingHours" class="form-control">Working Hours</label>
    <input type="text" name="workingHours" class="form-control">
    <label for="contactNumber" class="form-control">Contact Number</label>
    <input type="text" name="contactNumber" class="form-control">
    <br>
    <!-- THIS IS FOR TESTING ONLY SHOULD BE REMOVED FOR PRODUCTION -->
    <label for="rating">Rating</label>
    <input type="number" name="rating"/>
    <br>
    <button class="btn btn-primary mt-2" type="submit">Add new shop</button>
</form>